<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<!-- Page content goes here -->
<div class="container">
	<div class="col-sm-12 mt-5">
		
	    	<div class="row"><h3 th:text="${book.getTitle()}"></h3></div>
	    	<div class="row"><h4 th:text="${book.getBookAuthor()}"></h4></div>
	    	<div class="row"><img th:src="@{${'/img/' + book.getImageFilename()}}" /></div>
	    	<div class="row"><p th:text="${book.getDescription()}"></p></div>
	    	
    </div>
</div>
</body>
</html>