.nav-link-essejali {
	font-size: 1.5em;
}

.nav-link-essejali:hover {
	color: #e5b64d !important;
}

body {
    background: #fff;
    color: #858686;
    font-family: 'Montserrat',Arial,sans-serif;
}

.ranking-position-div {
	background: url('img/livrinho.png'); 
    width: 200px;
    height: 200px;
}

.books-read-div {
	background: url('img/livrinho.png'); 
    width: 200px;
    height: 200px;
}

.points-div {
	background: url('img/livrinho.png'); 
    width: auto;
    height: 200px;
}

