<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
<head th:fragment="headerfiles">
    <title>Esse Já Li!</title>
    <meta charset="UTF-8"/>
    <link th:href="@{~/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link th:href="@{~/styles.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="nav">
<a th:href="@{~/index}" >
	<img th:src="@{~/img/essejali-header.png}" alt="Esse Já Li!" class="img-fluid" />
</a>
	<div class="container">
		<div class="row justify-content-center">
		    <nav class="navbar navbar-expand-lg navbar-light">
		        <div class="collapse navbar-collapse" id="navbarSupportedContent">
		            <ul class="navbar-nav mr-auto">
		                <li class="nav-item">
		                    <a class="nav-link nav-link-essejali" href="#" th:href="@{~/index}">Home</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link nav-link-essejali" href="#" th:href="@{~/books}">Livros</a>
		                </li>
		                <li class="nav-item nav-item-essejali">
		                    <a class="nav-link nav-link-essejali" href="#" th:href="@{~/ranking/index}">Ranking</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link nav-link-essejali" href="#" th:href="@{~/profile/index}">Perfil</a>
		                </li>
		            </ul>
		        </div>
		    </nav>
		</div>
    </div>
</div>
</body>
</html>